body {
    margin: 60px auto;
    width: 70%;
    font-family: Fjord One; 
}

h1 {
    font-size: 3em;
    font-family: Fjord One; 
}

body p {
    font-size: 1.4em;
    line-height: 1em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

body li {
    font-size: 1.4em;
    line-height: 1em;
    color: #333;
    margin: 0 0 3px 0;}

body ol {
    font-size: 1.4em;
    line-height: 1em;
    color: #333;
    margin: 0 0 3px 0;}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color:#04B486
}


.excerpt {
    font-size: 1.4em;
    line-height: 1em;
    color: #333;
}

.post-teaser p {
    font-size: 1.6em;
    line-height: 1em;
    color: #D0D0D0;
}

/* Header */
#header {
    /* background: #6ca0e8; */
    /* Show the header image: */
    background-image: url("/images/cover.png");
    background-size: cover;
    color: #fff;
    padding: 1em;
    text-align: center;
    background-position: 0% 100%;
    position: relative;
}

    #header:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(16, 32, 48, 0.25);
    }

    #header > * {
        position: relative;
        z-index: 1;
    }

.homepage #header {
    padding: 8em 0;
    background-position: center;
}

header.major {
    padding-bottom: 1em;
}

header h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
    
}

#header a {
    color: #fff;
}
#header a:visited {
    color: #fff;
}


header .byline {
    font-size: 1.6em;
}




/* Nav */
#nav > ul {
    margin: 0;
}

    #nav > ul > li {
        border-radius: 5px 5px 0 0;
        display: inline-block;
        margin-left: 0.5em;
        padding: 0.5em 1.0em;
    }

        #nav > ul > li a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 1.2em;
        }

        #nav > ul > li:first-child {
            margin-left: 0;
        }

        #nav > ul > li:hover a {
            color: #fff;
        }

        #nav > ul > li > ul {
            display: none;
        }



footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

