body {
    margin: 60px auto;
    width: 70%;
}

#nav > ul {
    margin: 0;
}

    #nav > ul > li {
        border-radius: 5px 5px 0 0;
        display: inline-block;
        margin-left: 0.5em;
        padding: 0.5em 1.0em;
    }

        #nav > ul > li a {
            color: #FFF;
            text-decoration: none;
            font-size: 1.2em;
        }

        #nav > ul > li:first-child {
            margin-left: 0;
        }

        #nav > ul > li:hover a {
            color: #fff;
        }

        #nav > ul > li.active {
            /*background: #3ac984;*/
            /*background: #6ca0e8;*/
        }

            #nav > ul > li.active a {
                /* color: white; */
                /* color: #6ca0e8; */
                color: black;
            }

        #nav > ul > li > ul {
            display: none;
        }

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
