---
layout: default
title: Pojects
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post-teaser">
    
    <span>
      
      <header>
        
          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h1>
        
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        
        
        {% if post.thumbnail %}
        
        {% endif %}
        
        <br>
        

        
        </header>
      
      <br>
      <br>
      
        <div class="excerpt">
            {{ post.excerpt | strip_html | escape }}
            <img src="{{ site.baseurl }}{{ post.thumbnail }}" height="300" align="right">
        </div>
      
      <br>
      <br>
      <br>
      
      <hr />
    </span>
  </div>
  {% endfor %}
</div>
