---
layout: default
title: Pojects
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post-teaser">
    
    <span>
      
      <header>
        
          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h1>
        
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        
        
        {% if post.thumbnail %}
        
        {% endif %}
        
        <br>
       
        </header>

     
          
         <div id="qr" style="display:inline-block; align: center;vertical-align: middle;" >
           <img src="{{ site.baseurl }}{{ post.thumbnail }}" height="300">
         </div>
         
        <div style="display:inline-block;vertical-align: middle;">
           {{ post.excerpt | strip_html | escape }}
         </div>

      
      
        
      <br>
      
      <hr />
    </span>
  </div>
  {% endfor %}
</div>
