<!-- Get in touch bottom -->
<section id="Two">
	<h2>Get In Touch</h2>
	<p>Interested in my research, potential collaborations or any other engagement? I am looking forward to hearing from you!</p>
	<div class="row">
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon fa-home"><span class="label">Address</span></h3>
					Leeds<br />
					United Kingdom
				</li>
				<li>
					<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
					<a href="mailto:mednche@leeds.ac.uk">mednche@leeds.ac.uk</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<p style="font-size: 60%; text-align: right;">blog built using the <a href="https://github.com/jasonlong/cayman-theme">cayman-theme</a> by <a href="https://github.com/jasonlong">Jason Long</a>. <a href="http://creativecommons.org/licenses/by/4.0/">LICENSE</a></p>

