<!DOCTYPE html>
<html lang="en">

  <head>
		/* <title>{{ page.title }}</title> */
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

			<link rel="stylesheet" href="{{ site.baseurl }}../css/main.css" />
		</noscript>
		
	</head>
  
  <body>
    <!-- Header -->
    <div id="header">
        <div class="container">
            <!-- Logo -->

            <!--<h1><a href="#" id="logo">{{ page.title }}</a></h1>-->

            <h1><a href="{{ site.baseurl }}/index.html" id="logo">Natacha Chenevoy's Homepage</a></h1>

            {% include nav.html %}

        </div>
    </div>

  

    {% include header.html %}

    <section class="main-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


  </body>
</html>
