<!DOCTYPE html>
<html lang="en">

  <head>
		<!-- <title>{{ page.title }}</title> -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

			<link rel="stylesheet" href="{{ site.baseurl }}../css/main2.css" />
		</noscript>
	{% seo %}
		
</head>
  
 <body>
	  
	<!-- Left header -->
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar"><img src="images/photo.png" alt="" /></a>
			<h1><strong>Data Science &</strong><br />
			<strong>Criminology</strong><br>
			PhD student at<br />
			<a href="https://essl.leeds.ac.uk/law/pgr/830/natacha-chenevoy">University of Leeds</a>.
			</h1>
		</div>
	</header>


	<!-- Main -->
	<div id="main">
		<!-- Menu -->
		<nav id="nav-menu">
			<ul>
				<li><a href="https://mednche.github.io/blog.html">Projects</a></li>
				<li><a href="https://mednche.github.io">Home</a></li>
			</ul>
		</nav>

		<!-- Content -->
		<section class="main-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</section>

	</div>

    {% include footer.html %}
				
  </body>
</html>
