<!DOCTYPE html>
<html lang="en">

  <head>
		<!-- <title>{{ page.title }}</title> -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main2.css" />
		</noscript>
		
  </head>
  
<body>
	  
	<!-- Left header -->
	{% include header.html %}


	<!-- Main -->
	<div id="main">
		<!-- Menu -->
		{% include nav.html %}

		<!-- Content -->
		<section class="main-content">
			<div class="wrapper">
				<article class="post">
				  <h1>{{ page.title }}</h1>
					
				<div class="entry">
					
					{{ page.teaser}}
					
					</br>
					
					<p align="center">
						<img src={{ page.feature-img }}>
					</p>
					
				    	{{ content }}
				  </div>

				  <div class="date">
				    Written on {{ page.date | date: "%B %e, %Y" }}
				  </div>

				</article>
			</div>
		</section>
		
		<!-- Get in touch -->
    		{% include footer.html %}
		
		
	
		<!-- Contact-->
		{% include contact.html %}
	</div>
	
	
	
  </body>
</html>
